* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: radial-gradient(circle, #cceeff 0%, #ffffff 80%);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }